{% import _self as formMacros %}
{% macro contactEmailRow(form) %}
<div class="row js-email-item" style="margin-top: 10px">
    <div class="col-sm">
        {{ form_row(form.label) }}
    </div>
    <div class="col-sm">
        {{ form_row(form.email) }}
    </div>
    <div class="col-sm">
        <a href="#" class="js-remove-email btn btn-danger" style="width: 100%">
            Remover
        </a>
    </div>
</div>
{% endmacro %}

{{ form_start(form, { 'attr': {'id': 'contactForm'} }) }}
    {{ form_row(form.category) }}
    {{ form_row(form.name) }}
    {{ form_row(form.birthday) }}
<div class="card shadow">
    <div class="card-body">
        <div class="contact-email-wrapper"
             data-prototype="{{ formMacros.contactEmailRow(form.contactEmails.vars.prototype)|e('html_attr') }}"
             data-index="{{ form.contactEmails|length }}">
            {% for formEmail in form.contactEmails %}
                {{ formMacros.contactEmailRow(formEmail) }}
            {% endfor %}
            <a href="#" class="js-add-email btn btn-sm btn-dark" style="margin-top: 10px">
                <span class="fa fa-plus-circle"></span>
                Adicionar Email
            </a>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}

<script>
    jQuery(document).ready(function () {
        var $wrapper = $('.contact-email-wrapper');
        $wrapper.on('click', '.js-add-email', function (e) {
            e.preventDefault();
            var prototype = $wrapper.data('prototype');
            var index = $wrapper.data('index');
            var newForm = prototype.replace(/__contact_email__/g, index);
            $wrapper.data('index', index + 1);
            $(this).before(newForm);
        });
    });
    jQuery(document).ready(function () {
        var $wrapper = $('.contact-email-wrapper');
        $wrapper.on('click', '.js-remove-email', function (e) {
            e.preventDefault();
            $(this).closest('.js-email-item')
                .fadeOut()
                .remove();
        });
    });
</script>