{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

    <div class="card shadow">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">New Contact</button>

        <div class="btn-group">
            <div>
                <a data-url="{{ path('app_contact_remove') }}" class="btn btn-dark pull-right js-remove-list">
                    Delete selected<span class="fa fa-plus-circle"></span>
                </a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="contactModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <h1>Contact Book</h1>
        <table id="datatable_contact" class="display">
            <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Numbers</th>
                <th>Birthday</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td><input type="checkbox" id="{{ contact.id }}" name="lineContact" class="line-js-contact"/></td>
                    <td>{{ contact.category }}</td>
                    <td>{{ contact.name }}</td>
                    <td>
                        {% for contactEmail in contact.contactEmails %}
                            {{ contactEmail.label }} - {{ contactEmail.email }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for contactPhone in contact.contactPhones %}
                            {{ contactPhone.label }} - {{ contactPhone.phone }} <br>
                        {% endfor %}
                    </td>
                    <td>{{ contact.birthday|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#datatable_contact').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 50,
                lengthMenu: [50, 100, 150],
            });
        });
    </script>
    <script> const newContactUrl = "{{ path('app_contact_new') }}"; </script>
    <script src="{{ asset('js/new_contact.js') }}"></script>
    <script src="{{ asset('js/remove_contacts.js') }}"></script>
{% endblock %}