{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid mt-5 px-3">
    <div class="d-flex mb-3">
        <h1>Contact Book</h1>
    </div>
    <hr class="mb-3">
</div>
<div class="container-fluid mt-5 px-3" style="margin: 0 auto; max-width: 95%;">
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex align-items-center">
            <input type="checkbox" class="form-check-input me-2" id="select_all_check">
            <label class="form-check-label me-3">Select all</label>
            <a data-url="{{ path('app_contact_remove') }}" class="btn btn-dark pull-right js-remove-list">
                Delete selected<span class="fa fa-plus-circle"></span>
            </a>
        </div>
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">New Contact</a>
    </div>
    <div class="table-responsive">
        <table id="datatable_contact" class="display">
            <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Numbers</th>
                <th>Birthday</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td><input type="checkbox" id="{{ contact.id }}" name="lineContact" class="line-js-contact"/></td>
                    <td>{{ contact.category }}</td>
                    <td>{{ contact.name }}</td>
                    <td>
                        {% for contactEmail in contact.contactEmails %}
                            {{ contactEmail.label }} - {{ contactEmail.email }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for contactPhone in contact.contactPhones %}
                            {{ contactPhone.label }} - {{ contactPhone.getPhoneShow }} <br>
                        {% endfor %}
                    </td>
                    <td>{{ contact.birthday|date('d-m-Y') }}
                        {% if contact.is5orLessDaysToBirthday() is not empty  %}
                        <a title="{{ contact.is5orLessDaysToBirthday()==0 ? 'today' : contact.is5orLessDaysToBirthday()~' days left'}} "><i class="bi bi-bell"></i></a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <style>
        /* Show the tooltip when hovering */
        .tooltip-container:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#datatable_contact').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 50,
                lengthMenu: [50, 100, 150],
            });
        });
    </script>
    <script> const newContactUrl = "{{ path('app_contact_new') }}"; </script>
    <script src="{{ asset('js/new_contact.js') }}"></script>
    <script src="{{ asset('js/remove_contacts.js') }}"></script>
{% endblock %}